/** =============================================
Stylesheet für SouthernHemisphere.github.io

basis.css
wird in style.css per @import eingebunden

Hier finden sich alle grundsätzlichen CSS-Regeln, die die ganze Website betreffen

===========================================*/

/**
    * 1. Globale Einstellungen für die gesamte Website 
    */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;
background-color: #1d2026;
color: #F3ECFF;
}   

body {
font-family: 'Futura', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Collapsing Borders verhindern */

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
            
margin-top: 0;
}

 /* Korrektur von figure und blockquote */
 figure, blockquote { margin-right: 0; margin-left: 0; }

 /* Schriftgröße und Strichstärke von Überschriften */

 h1{font-size: 2.5rem;}
 h2{font-size: 2rem;}
 h3{font-size: 1.75rem;}
 h4{font-size: 1.5rem;}
 h5{font-size: 1.25rem;}
 h6{font-size: 1rem;}
 h1, h2, h3, h4{ font-weight: 500; }


/**
    * 2. Gestaltung der Startseite
    */


    /* Formatierung */

.content-start {
    text-align: center;
}
.content-start .greeting {
    font-weight: bold;
    font-size: larger;
    margin-top: 20rem;
    font-size: 3rem;
}

/* Klick-Mich Button */
.nameButton {
    color: #F3ECFF;
    background-color: #9993FF;

    font-size: larger;
    cursor: pointer;

    padding: 0.5rem 0.5rem;
    border: 3px solid #F3ECFF;
    margin: 3rem 0;
}

.nameButton:hover, .nameButton:focus {
    background-color: #A199CE;
    color: white;
    transition: background-color 0.5s ease;
}

.nameButton:active {
    background-color: #6C6698;
    transition: background-color 0.1s ease;
}


/**
    * 3. Gestaltung der Ungeheuerlichkeiten
    */
    .content-ungeheuer {
        	text-align: center;
    }

    .content-ungeheuer .content-intro .container-container {
        display: flex;
        justify-content: center;
    }

    .content-ungeheuer .content-intro  h1 {
        color: #d9c526;
    }

    .content-ungeheuer .content-intro .image-container {
        display: flex;
        align-items: center;
        background-color: #4151bd;
        color: #222222;
        font-weight: 600;
        font-style: italic;
        justify-content: space-evenly;
        padding: 1.5rem 0;
        width: 600px;
        border-radius: 10% / 50%;
    }

    .content-ungeheuer .content-intro .image-container > blockquote
    {
        line-height: 0.5RRrem;
    }

/**
 * slideshow
 */
.slideShow {
    display: flex;
    justify-content: center;
}

.slideShow .slide {
    position: relative;
}

.slideShow .slide .slideShowImageContainer {
    padding: 50px;
    position: relative;
}

.slideShow .slide .slideShowTextContainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.slideShow .slide img, .slideShowText {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.slideShow .slide .slideshowButton {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 10%;
    height: 10%;
    background-color: rgba(0,0,0,0.3);
    border: none;
}

.slideShow .slide .slideshowButton:hover {
    background-color: rgba(0,0,0,0.5);
}

.slideShow .slide .nextButton {
    right: 50px;
}

.slideShow .slide .previousButton {
    left: 50px;
}

.slideShow .slide .slideshowButton i {
    color: rgba(0,0,0,0.6);
}

.slideShow .slide .slideshowButton i:hover {
    color: rgba(0,0,0,0.7);
}

/* 
Color-Schemes:

Orange: #FF8829
Green: #00CAA3
Purple: #9993FF
White: #F3ECFF


*/