/** =============================================
Stylesheet für SouthernHemisphere.github.io

basis.css
wird in style.css per @import eingebunden

Hier finden sich alle grundsätzlichen CSS-Regeln, die die ganze Website betreffen

===========================================*/

/**
    * 1. Globale Einstellungen für die gesamte Website 
    */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
scroll-behavior: smooth;

--clr-primary-100: #F3ECFF;
--clr-primary-300: #d9cb16;
--clr-primary-900: #222222;

--clr-secondary-500: #0094EB;
--clr-secondary-700: #4151bd;
--clr-secondary-800: #263075;

background-color: var(--clr-primary-900);
color: var(--clr-primary-100);

 --ff-primary: 'Be Vietnam Pro', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;

  --fs-body: var(--fs-200);
  --fs-primary-heading: var(--fs-500);
  --fs-secondary-heading: var(--fs-400);
  --fs-nav: var(--fs-400);
  --fs-button: var(--fs-200);
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-200);
  }
}
  
body {
font-family: var(--ff-body);
font-size: var(--fs-body);
}



/* Collapsing Borders verhindern */

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
            
margin-top: 0;
}

 /* Korrektur von figure und blockquote */
 figure, blockquote { margin-right: 0; margin-left: 0; }

 /* Schriftgröße und Strichstärke von Überschriften */

 h1{font-size: var(--fs-primary-heading);}
 h2{font-size: var(--fs-secondary-heading);}

 h1, h2, h3, h4{ font-weight: var(--fw-bold)}

/**
    * 2. Gestaltung der Startseite
    */


    /* Formatierung */

.content-start {
    text-align: center;
}
.content-start .greeting {
    font-weight: bold;
    font-size: larger;
    margin-top: 20rem;
    font-size: 3rem;
}

/* Klick-Mich Button */
.nameButton {
    color: var(--clr-primary-100);
    background-color: var(--clr-secondary-800);

    font-size: larger;
    cursor: pointer;

    padding: 0.5rem 0.5rem;
    border: 3px solid var(--clr-secondary-700);
    margin: 3rem 0;
}

.nameButton:hover, .nameButton:focus {
    background-color: var(--clr-secondary-800);
    color: var(--clr-primary-300);
    transition: background-color 0.5s ease;
}

.nameButton:active {
    background-color: var(--clr-secondary-700);
    transition: background-color 0.1s ease;
}

/* Überschrift */

.greeting {
    color: var(--clr-primary-300);
}


/**
    * 3. Gestaltung der Ungeheuerlichkeiten
    */
    .content-ungeheuer {
        	text-align: center;
    }

    .content-ungeheuer .content-intro .container-container {
        display: flex;
        justify-content: center;
    }

    .content-ungeheuer .content-intro  h1 {
        color: var(--clr-primary-300);
    }

    .content-ungeheuer .content-intro .image-container {
        display: flex;
        align-items: center;
        background-color: var(--clr-secondary-700);
        color: var(--clr-primary-900);
        font-weight: 600;
        font-style: italic;
        justify-content: space-evenly;
        padding: 1.5rem 0;
        width: 600px;
        border-radius: 10% / 50%;
    }

    .content-ungeheuer .content-intro .image-container > blockquote
    {
        line-height: 0.5RRrem;
    }

    .content-ungeheuer a {
    
    color: var(--clr-primary-100);
    background-color: var(--clr-secondary-800);
    text-decoration: none;

    font-size: larger;
    cursor: pointer;

    padding: 0.5rem 0.5rem;
    border: 3px solid var(--clr-secondary-700);
    margin: 3rem 0;    

    }

    .content-ungeheuer a:hover, .content-ungeheuer a:focus {
        background-color: var(--clr-secondary-700);
        transition: background-color 0.5s ease;
    }
 
    .content-ungeheuer a:active {
        background-color: var(--clr-secondary-500);
        transition: background-color 0.1s ease;
    }
 

/**
 * slideshow
 */
.slideShow {
    display: flex;
    justify-content: center;
}

.slideShow .slide {
    position: relative;
}

.slideShow .slide .slideShowImageContainer {
    padding: 50px;
    position: relative;
}

.slideShow .slide .slideShowTextContainer {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.slideShow .slide img, .slideShowText {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.slideShow .slide .slideshowButton {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 10%;
    height: 10%;
    background-color: rgba(0,0,0,0.3);
    border: none;
}

.slideShow .slide .slideshowButton:hover {
    background-color: rgba(0,0,0,0.5);
}

.slideShow .slide .nextButton {
    right: 50px;
}

.slideShow .slide .previousButton {
    left: 50px;
}

.slideShow .slide .slideshowButton i {
    color: rgba(0,0,0,0.6);
}

.slideShow .slide .slideshowButton i:hover {
    color: rgba(0,0,0,0.7);
}

